/* RESET DE MARGIN E PADDING */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: $font-color;
}

ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  font-size: 62.5%;
}

body {
  font: 400 1.6rem $font-body;
  background: $white;
  color: $font-color;
}

/* ESTILO DE SCROLL */
::-webkit-scrollbar {
  width: 11px;
  height: 0;
  scrollbar-width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $font-color;
  border-radius: 0.5rem;
  border: 2px solid $white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: $white;
}

/* RESET EM ESTILOS PRE DEFINIDOS */
a {
  text-decoration: none;
  color: $font-color;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  color: $font-color;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

/* ESTILOS GLOBAIS */
h1,
h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: bold;
}
