body.home {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: center;

  @include responsive(tablet) {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}

#image {
  height: 100vh;
  overflow: hidden;
  border-right: 0.5rem solid $color5;

  @include responsive(tablet) {
    display: none;
  }

  .container {
    width: 350px;
    height: 100%;
    display: flex;

    transition: transform 500ms ease-in-out;

    img {
      flex-shrink: 0;
      object-fit: cover;
      height: 100%;
      width: 350px;
    }
  }
}

#main-home {
  position: relative;
  text-align: center;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;

  .logo img {
    width: 400px;
    margin: 0 auto;
  }

  .text {
    margin-top: 6.4rem;
    font-size: 2.8rem;
    max-width: 550px;
  }

  .blob1,
  .blob2 {
    opacity: 0.1;
  }
  .blob1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .blob2 {
    position: absolute;

    bottom: 0;
    left: -80px;
    z-index: -1;
  }

  @include responsive(tablet) {
    padding: 1.5rem;

    .blob1,
    .blob2 {
      width: 50%;
      opacity: 1;
    }

    .blob1 {
      width: 30%;
    }
  }
}

#main-home .button {
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10rem auto 0;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    background: $color1;

    width: 200px;
    height: 65px;
    border-radius: 1.5rem;
    overflow: hidden;

    p {
      text-transform: uppercase;
      position: absolute;
      @include font($font-title, 3rem, $color4);
      top: 20%;
      transition: top 300ms ease-in-out;
    }

    img {
      position: absolute;
      width: 90px;
      bottom: -100px;
      transition: bottom 300ms ease-in-out;
    }

    &:hover p {
      top: -50px;
    }

    &:hover img {
      bottom: 8%;
    }
  }
}
