/* RESET DE MARGIN E PADDING */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  /* VARIÁVEIS E DEFINIÇÕES */
  font-size: 62.5%;
  --font-title: 'Livvic', sans-serif;
  --font-body: 'Work Sans', sans-serif;

  --font-color: #1d1d29;
  --color1: #6c1827;
  --color2: #9e373b;
  --color3: #ef5c54;
  --color4: #ffe3d0;
  --color5: #ffd312;
}

body {
  font: 400 1.6rem var(--font-body);
  background: #f4f4f4;
  color: var(--font-color);
}

/* ESTILO DE SCROLL */
::-webkit-scrollbar {
  width: 11px;
  height: 0;
  scrollbar-width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 0.5rem;
  border: 2px solid #f4f4f4;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* RESET EM ESTILOS PRE DEFINIDOS */
a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

/* ESTILOS GLOBAIS */
h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  font-weight: bold;
}
