body {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 2fr;
  align-items: center;
}

.image {
  height: 100vh;
}

.image img {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-right: 0.5rem solid var(--color5);
}

main {
  position: relative;
  text-align: center;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}

main .logo img {
  margin: 0 auto;
}

main .text {
  margin-top: 6.4rem;
  font-size: 2.8rem;
  max-width: 550px;
}

.button a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10rem auto 0;
  background: var(--color1);

  width: 250px;
  height: 75px;
  border-radius: 1.5rem;
  overflow: hidden;
}

.button a p {
  text-transform: uppercase;
  position: absolute;
  font-family: var(--font-title);
  color: var(--color4);
  font-size: 3.2rem;
  top: 20%;
  transition: top 300ms ease-in-out;
}

.button a:hover p {
  top: -50px;
}

.button a img {
  position: absolute;
  width: 100px;
  bottom: -100px;
  transition: bottom 300ms ease-in-out;
}

.button a:hover img {
  bottom: 8%;
}

main .blob1,
main .blob2 {
  opacity: 0.1;
}

main .blob1 {
  position: absolute;
  top: 0;
  right: 0;
}

main .blob2 {
  position: absolute;

  bottom: 0;
  left: -50px;
  z-index: -1;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .image {
    display: none;
  }
  main {
    padding: 1.5rem;
  }
  main .blob1,
  main .blob2 {
    width: 50%;
    opacity: 1;
  }

  main .blob1 {
    width: 30%;
  }
}
